# https://github.com/mopidy/mopidy/releases
Mopidy==4.0.1
# https://github.com/mopidy/mopidy-mpd/releases
Mopidy-MPD
# https://github.com/jaedb/Iris/releases
# Mopidy-Iris
# https://github.com/mopidy/mopidy-local/releases
# Mopidy-Local
# https://github.com/cristianpb/muse
# Mopidy-Muse
Mopidy-Mobile

